body {
    background-color: grey;
    color: white;
    text-align: center;
}
header {
    text-align: center;
}
section {
    width: 80%;
    margin: 10 auto;
}
.item {
    width: 30%;
    margin: 10 auto;
    border: 5px solid black;
    background-color: green;
    color: gold;
}
.item p {
    color: blue;
}